# Ignore everything
*

# Do not ignore directories, so Git will process folder rules below
!*/

# Do not ignore these specific file types
!**/*.py
!**/*.conf
!**/*.cfg
!**/*.ini
!**/*.json
!**/*.yml
!**/*.yaml
!**/*.md
!**/*.ipynb
!**/*.zip

# Do not ignore image files
!**/*.jpg
!**/*.jpeg
!**/*.gif
!**/*.bmp
!**/*.svg
!**/*.tiff
!**/*.ico

# Do not ignore document files
!**/*.doc
!**/*.docx
!**/*.ppt
!**/*.pptx

# Do not ignore the .gitignore file itself
!.gitignore

# Explicitly ignore these specific folders
/MESTRADO_PUBLICO/RAG_LLMS/Artigo_Final/BACKUP
/MESTRADO_PUBLICO/PROSPECCAO_FUTURO/Trabalho_Final/Scripts/dados
/MESTRADO_PUBLICO/PROSPECCAO_FUTURO/Trabalho_Final/Scripts/csvs_processed
/MESTRADO_PUBLICO/PROSPECCAO_FUTURO/Trabalho_Final/Scripts/csvs_treated
/MESTRADO_PUBLICO/PROSPECCAO_FUTURO/Trabalho_Final/Scripts/temp_extracted_files

Scripts/dados/
Scripts/csvs_processed/
Scripts/csvs_treated/
Scripts/temp_extracted_files/
Scripts/all_data/
BACKUP/